@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video { /*max-width: 100%;
	width: 100%;*/ vertical-align: baseline; }
/* IE 6 does not support max-width so default to width 100% */
.ie6 img { width: 100%; }
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
.clear { clear: both; }
body
{
	background-color: #e1ecf6;
	max-width: 100%;
	padding:0px;
	margin:0px;
}
.gridContainer
{
	background-color: #e1ecf6;
	font-family: Arial, Helvetica, sans-serif;
}
.bgstriphome { /*background-image: url('../images/bgstriphome.png'); background-color:#eb008b;*/ margin-top: -13px; }
.logo_home
{
	background-image: url(../images/logo_big.png);
	background-repeat: no-repeat;
	height: 140px;
	background-position: center center;
}
.logo_result
{
	background-image: url(../images/logo_big.png);
	background-repeat: no-repeat;
	height: 140px;
	background-position: center center;
}
.calcium_head
{
	padding-top: 50px;
	background-color: #0054a5;
	text-align: center;
	height: 180px;
	border-bottom: 1px solid #9bc5d0;
}
.calcium_mid
{
	background-color: #eb008b;
	text-align: center;
	color: #ffffff;
	border-top: 1px solid #FFFFFF;
	height: 130px;
}
@font-face
{
	font-family: ARCADE;
	src: url(../ARCADE.TTF);
}
@font-face
{
	font-family: HelveticaNeue;
	src: url(../HelveticaNeue-Medium.otf);
}
.calcium_head .lineone
{
	font-family: ARCADE;
	max-width: 100%;
	font-size: 70px;
	color: #9bc5d0;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	height: 40px;
	padding-top: 30px;
}
.toptwo
{
	font-family: ARCADE;
	max-width: 100%;
	font-size: 60px;
	color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.resulthead .lineone
{
	font-family: ARCADE;
	max-width: 100%;
	font-size: 70px;
	color: #9bc5d0;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	height: 40px;
	padding-top: 60px;
}
.calcium_mid p.linetwo
{
	font-size: 19px;
	color: #FFFFFF;
	margin-top: 18px;
	font-family: HelveticaNeue;
	float: none;
	text-align: center;
	padding-left: 0%;
}
p.mid_one
{
	font-size: 24px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 13px;
}
p.mid_two
{
	font-size: 19px;
	padding-top: 0px;
	margin-top: 0px;
}
.calcium_btm
{
	text-align: center;
	width: 200px;
	margin: auto;
}
#enterbtn
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: normal;
	height: 50px;
	background-color: #eb008b;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 89px;
	border-bottom-right-radius: 89px;
	border: 4px solid #eb008b;
	width: 110px;
	margin: auto;
	padding-top: 5px;
}
#enterbtn a
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
	font-family: HelveticaNeue;
}
#maincontainer
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#insidecont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#formcontent
{
	clear: both;
	float: left;
	margin: 1%;
	display: block;
	background-color: #FFF;
	padding: 20px;
	width: 80%;
	text-align: center;
	overflow-x: hidden;
}
#recomm
{
	clear: both;
	float: none;
	/* margin-left: 0; */
	display: block;
	padding: 8px 10px;
	text-align: center;
	font-size: 20px;
	margin-top: 0px;
	color: #eb008b;
}
#calrecomm
{
	clear: both;
	font-size: 20px;
	color: #FFFFFF;
	width: 30%;
	display: block;
	background-color: #eb008b;
	padding: 6px;
	text-align: center;
	margin-top: 5px;
	margin: 0px auto 15px auto !important;
}
#insidediv
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#menu-main
{
	clear: both;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
}
#top-bar
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #72B4F0;
	height: 25px;
	font-size: 19px;
	color: #231f20;
	text-align: center;
	padding-top: 5px;
	text-transform: capitalize;
}
#resultname
{
	/* clear: both; */
	display: block;
	text-align: center;
	font-size: 19px;
	margin: 0px;
	color: #e1ecf6;
	padding-top: 13px;
	text-transform: capitalize;
}
#slideinside
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slidecontainer
{
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
#aboutform label
{
	font-size: 17px;
	/* vertical-align: top; 
	float: left;*/
	display: inline-block;
	/* margin-right: 20px;
	width: 190px; */
	text-align: right;
	color: #231f20;
	cursor: auto;
	margin-top: 4px;
}
.gridContainer { }
#maincontainer
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#insidecont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#formcontent
{
	clear: both;
	float: left;
	margin: 1%;
	display: block;
	background-color: #FFF;
	padding: 20px;
	width: 95%;
	text-align: center;
}
#recomm
{
	clear: both;
	float: none;
	/* margin-left: 0; */
	display: block;
	padding: 8px 10px;
	text-align: center;
	font-size: 19px;
	margin-top: 0px;
	color: #eb008b;
}
#calrecomm
{
	clear: both;
	font-size: 20px;
	width: 110px;
	display: block;
	background-color: #bccbc6;
	padding: 10px;
	text-align: center;
	margin-top: 5px;
	margin: 3px auto 15px auto !important;
}
#insidediv
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#menu-main
{
	clear: both;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
}
#top-bar
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #72B4F0;
	height: 25px;
	font-size: 19px;
	color: #231f20;
	text-align: center;
	padding-top: 5px;
}
#resultname
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 19px;
	color: #e1ecf6;
}
#slideinside
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slidecontainer
{
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
#aboutform label
{
	font-size: 17px;
	/* vertical-align: top; */
	float: left;
	display: inline-block;
	/* margin-right: 20px;
	width: 190px; */
	text-align: right;
	color: #231f20;
	cursor: auto;
	margin-top: 4px;
	width: 130px;
}
.gridContainer { margin: auto; }
#maincontainer
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#insidecont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#formcontent
{
	clear: both;
	float: left;
	margin: 1%;
	display: block;
	background-color: #FFF;
	padding: 20px;
	width: 95%;
	text-align: center;
}
#recomm
{
	clear: both;
	float: none;
	/* margin-left: 0; */
	display: block;
	padding: 8px 10px;
	text-align: center;
	font-size: 20px;
	margin-top: 0px;
	color: #eb008b;
}
#calrecomm
{
	clear: both;
	font-size: 20px;
	color: #FFFFFF;
	width: 110px;
	display: block;
	background-color: #eb008b;
	padding: 6px;
	text-align: center;
	margin-top: 5px;
	margin: 0px auto 15px auto !important;
}
#insidediv
{
	clear: both;
	float: none;
	margin: auto;
	width: 80%;
	display: block;
	text-align: center;
}
#menu-main
{
	clear: both;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
}
#top-bar
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #72B4F0;
	height: 25px;
	font-size: 19px;
	color: #231f20;
	text-align: center;
	padding-top: 5px;
}
#resultname
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 19px;
	color: #e1ecf6;
}
#slideinside
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slidecontainer
{
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
#contentsection
{
	/*	background-image: url('../images/home.png');
	background-repeat: no-repeat;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	height: 800px;*/
	width: 100%;
	margin: auto;
}
.btmsection
{
	background-color: #e3ece9;
	height: 30px;
}
.enterbtn
{
	padding-top: 659px;
	padding-left: 160px;
}
#header.ui-header
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 99%;
	font-weight: normal;
	display: block;
	height: 60px;
	color: #accdec;
	font-size: 25px;
	padding-left: 1%;
	word-spacing: 1px;
	border: none;
	background: #0054a5;
	text-shadow: 0 0 0;
}
#header p
{
	padding-left: 20px;
	text-align: center;
	margin-top: 15px;
}
.submit-btn
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	color: #FFF !important;
	width: 80px;
	height: 30px;
	border: none;
	/*	margin-left: 50%;
float: left;*/
	cursor: pointer;
	font-size: 15px;
}
.clear-btn
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	color: #FFF !important;
	width: 80px;
	height: 30px;
	border: none;
	margin-left: 20px;
	cursor: pointer;
	font-size: 15px;
}
.recall, .savenxt, .homebtn
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	color: #FFF !important;
	width: 200px;
	height: 50px;
	border: none;
	margin-left: 20px;
	cursor: pointer;
	font-size: 18px;
}
.nextbtn
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	clear: both;
	margin: 0 auto !important;
	color: #FFF !important;
	width: 150px;
	height: 50px;
	border: none;
	margin-left: 20px;
	position: relative;
	cursor: pointer;
	font-size: 18px;
	top: 5px;
}
.testagainbtn
{
	background-color: #0054a5 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0054a5), to(#0054a5)) !important;
	background-image: -webkit-linear-gradient(#0054a5, #0054a5) !important;
	background-image: -moz-linear-gradient(#0054a5, #0054a5) !important;
	background-image: -ms-linear-gradient(#0054a5, #0054a5) !important;
	background-image: -o-linear-gradient(#0054a5, #0054a5) !important;
	background-image: linear-gradient(#0054a5, #0054a5) !important;
	clear: both;
	margin: 0 auto !important;
	color: #FFF !important;
	width: 150px;
	height: 40px;
	border: none;
	position: relative;
	font-size: 18px;
	right: 0px;

}
#aboutform .ui-radio label
{
	float: none;
	width: auto;
	border-radius: 0px;
	background: transparent;
	border: none;
}
#aboutform table { display: inline-block; }
.ui-input-text.ui-body-c, .ui-input-text.ui-overlay-c
{
	border: 1px solid #aaa;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	background: #f3d7e2 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3d7e2), to(#f3d7e2)) !important;
	background-image: -webkit-linear-gradient(#f3d7e2, #f3d7e2) !important;
	background-image: -moz-linear-gradient(#f3d7e2, #f3d7e2) !important;
	background-image: -ms-linear-gradient(#f3d7e2, #f3d7e2) !important;
	background-image: -o-linear-gradient(#f3d7e2, #f3d7e2) !important;
	background-image: linear-gradient(#f3d7e2, #f3d7e2) !important;
}
.ui-body-c, .ui-overlay-c { text-shadow: none !important; }
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon { }
.ui-radio input
{
	width: 20px !important;
	height: 20px !important;
	background-color: #f3d7e2 !important;
	display: none;
}
.ui-btn-active
{
	border: none !important;
	background: #278ebc !important;
	font-weight: 700;
	color: #333;
	cursor: pointer;
	text-shadow: none !important;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#278ebc), to(#278ebc)) !important;
	background-image: -webkit-linear-gradient(#278ebc, #278ebc) !important;
	background-image: -moz-linear-gradient(#278ebc, #278ebc) !important;
	background-image: -ms-linear-gradient(#278ebc, #278ebc) !important;
	background-image: -o-linear-gradient(#278ebc, #278ebc) !important;
	background-image: linear-gradient(#278ebc, #278ebc) !important;
	font-family: Arial, Helvetica, sans-serif;
}
#prev
{
	float: left;
	margin-left: 3%;
	margin-top: 8px;
}
#next
{
	float: right;
	margin-right: 3%;
}
/* footer */
.navigation
{
	height: 40px;
	margin-top: 20px;/*	margin-bottom: 20px;*/
}
.navigation.ui-bar-a
{
	border: none;
	background: #e1ecf6;
	color: #333;
	font-weight: 700;
	text-shadow: 0 0 0 #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ecf6), to(#e1ecf6));
	background-image: -webkit-linear-gradient(#e1ecf6, #e1ecf6);
	background-image: -moz-linear-gradient(#e1ecf6, #e1ecf6);
	background-image: -ms-linear-gradient(#e1ecf6, #e1ecf6);
	background-image: -o-linear-gradient(#e1ecf6, #e1ecf6);
	background-image: linear-gradient(#e1ecf6, #e1ecf6);/*	border-bottom: 8px solid #9d8e94;*/
	margin-bottom: 10px;
}
#insidediv p
{
	padding: 10px;
	font-size: 22px;
	color: #231f20;
	margin-top: 10%;
}
.btngroup .listitem
{
	border-bottom: 1px solid #9d8e94 !important;
	border: 1px solid #D5D5D5;
	background: #e1ecf6 !important;
	font-weight: normal !important;
	color: #231f20 !important;
	text-shadow: 0 1px 0 #fff !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ecf6), to(#e1ecf6)) !important;
	background-image: -webkit-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: -moz-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: -ms-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: -o-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: linear-gradient(#e1ecf6, #e1ecf6) !important;
	text-shadow: 0 0 0 !important;
}
.btngroup .listitem .ui-link-inherit
{
	font-size: 14px !important;
	padding-left: 34px !important;
}
.btngroup .listitem.ui-last-child { border-bottom: none !important; }
#header .ui-btn-corner-all
{
	-webkit-border-radius: 0em;
	border-radius: 0em;
}
#header.ui-header-fixed>.ui-btn-icon-notext { top: 0px !important; }
#header .ui-icon, #header .ui-icon-searchfield:after
{
	background-color: #eb008b;
	border-radius: 0px;
	margin: 0px;
}
#header .ui-icon, #header .ui-btn-icon-notext
{
	width: 45px;
	height: 61px;
	margin-top: -1px;
	border: none;
	top: 0px;
}
#header .ui-icon-bars { background-position: -777px 22px !important; }
#header .ui-btn-up-a { border: none; }
#header.ui-header .ui-btn-right { right: 0px !important; }
.listitem.ui-btn-up-a, .listitem.ui-btn-hover-a
{
	border: 1px solid #f9f9f9 !important;
	background: #f9f9f9;
	font-size: 13px;
	font-weight: normal;
	color: #2f3e46 !important;
	text-shadow: 0 0 0 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f9f9f9)) !important;
	background-image: -webkit-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: -moz-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: -ms-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: -o-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: linear-gradient(#f9f9f9, #f9f9f9) !important;
}
.listitem .ui-btn-inner { font-size: 15px; }
.listitem.ui-btn-up-a:visited, .listitem.ui-btn-up-a a.ui-link-inherit { color: #2f3e46; }
.listitem.ui-listview, .listitem.ui-panel-inner>.ui-listview { margin: 0px !important; }
/* maincalculator */

/*.optcontainer .ui-field-contain .ui-select:nth-child(even)
{
width:23%;
}
.optcontainer .ui-field-contain .ui-select:nth-child(odd)
{
width:12%;
}*/
.optcontainer .ui-field-contain label.ui-select
{
	width: 50% !important;
	margin: 6px 2% 0 1%;
}
.optcontainer .ui-field-contain
{
	border-bottom: 1px solid #E7B4D1 !important;
	border: 1px solid #FFFFFF;
	background: #FFF4F8 !important;
	font-weight: normal !important;
	color: #231f20 !important;
	text-shadow: 0 1px 0 #fff !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF4F8), to(#FFF4F8)) !important;
	background-image: -webkit-linear-gradient(#FFF4F8, #FFF4F8) !important;
	background-image: -moz-linear-gradient(#FFF4F8, #FFF4F8) !important;
	background-image: -ms-linear-gradient(#FFF4F8, #FFF4F8) !important;
	background-image: -o-linear-gradient(#FFF4F8, #FFF4F8) !important;
	background-image: linear-gradient(#FFF4F8, #FFF4F8) !important;
	text-shadow: 0 0 0 !important;
	margin: 0px 0px 0px 0px !important;
	overflow: auto;
}
.optcontainer .ui-btn-up-c, .optcontainer .ui-btn-hover-c
{
	border: 1px solid #FFEDFB;
	background: #F5FFFC;
	font-weight: 700;
	color: #222;
	text-shadow: 0 0 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5FFFC), to(#F5FFFC));
	background-image: -webkit-linear-gradient(#F5FFFC, #F5FFFC);
	background-image: -moz-linear-gradient(#F5FFFC, #F5FFFC);
	background-image: -ms-linear-gradient(#F5FFFC, #F5FFFC);
	background-image: -o-linear-gradient(#F5FFFC, #F5FFFC);
	background-image: linear-gradient(#F5FFFC, #F5FFFC);
	border-radius: 0px;
}
.optcontainer .ui-icon, .optcontainer .ui-icon-searchfield:after
{
	background-image: url('../images/dwnarrow.png') !important;
	background-position: 0px 0px !important;
	border-radius: 0px;
	width: 30px;
	height: 30px;
	top: 0% !important;
	margin-top: 0px !important;
	right: 0px !important;
}
.optcontainer .ui-btn-inner
{
	font-size: 15px;
	height: 10px !important;
}
 @media screen and (max-device-width : 770px) {
#aboutform label
{
	font-size: 17px;
	/* vertical-align: top; 
	float: left;*/
	display: inline-block;
	/* margin-right: 20px;
	width: 190px; */
	text-align: right;
	color: #231f20;
	cursor: auto;
	margin-top: 4px;
}
.optcontainer .ui-btn-inner
{
	font-size: 14px;
	height: 20px !important;
	text-align: left;
}
.savenxt
{
	width: 130px;
	height: 40px;
}
.head1 span, .head2 span { margin-left: 20px; }
}
.head1
{
	width: 50%;
	float: left;
	padding: 8px;
	text-align: left;
}
.head2
{
	width: 40%;
	float: left;
	text-align: center;
	padding: 8px;
}
.head1 span, .head2 span { margin-left: 7px; }
#headcontainer
{
	background-color: #da7bb1;
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	font-size: 17px;
	font-weight: bold;
}
.ui-panel .ui-btn-up-c, .ui-panel .ui-btn-hover-c
{
	border-bottom: 1px solid #da7bb1;
	border-top: 1px solid #FFFFFF;
	background: #e1ecf6 !important;
	font-weight: 700;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ecf6), to(#e1ecf6)) !important;
	background-image: -webkit-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: -moz-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: -ms-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: -o-linear-gradient(#e1ecf6, #e1ecf6) !important;
	background-image: linear-gradient(#e1ecf6, #e1ecf6) !important;
}
/* fractional dropdown */

/*result */

.resulthead
{
	padding-top: 50px;
	background-color: #0054a5;
	text-align: center;
	height: 210px;
	border-bottom: 1px solid #9bc5d0;
}
.result_mid
{
	background-color: #eb008b;
	text-align: center;
	color: #ffffff;
	height: 70px;
}
.result_mid .mid_one
{
	font-size: 20px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	/* width: 320px; */
	text-align: center;
	margin: auto;
}
.resulthead .linetwo
{
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: HelveticaNeue;
	float: none;
	text-align: center;
	padding-left: 0%;
}
.bgstripresult { /*background-image: url('../images/bgstripresult.png'); */ margin-top: -13px; }
#resultval
{
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: normal;
	height: 48px;
	background-color: #eb008b;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 89px;
	border-bottom-right-radius: 89px;
	border: 4px solid #eb008b;
	width: 110px;
	margin: auto;
	padding-top: 10px;
}
#resultbtm
{
	background-color: #e1ecf6;
	min-height: 100%;
	height: 270px;
	width: 100%;
	margin: auto;
	text-align: center;
	color: #231f20;
}
#resultbtm p
{
	font-size: 19px;
	color: #0054a5;
	padding: 8px 10px;
	margin: 0px;
}
p.resultcom { padding-top: 0px !important; }
.recall
{
	font-size: 20px;
	height: 50px;
}
#aboutform
{
	width: 100%;
	margin: auto;
}
.ui-select .ui-btn select
{
	min-height: 100% !important;
	height: auto !important;
}
.resultnavigation
{
	height: 40px;
	margin-bottom: 0px;
}
.resultnavigation.ui-bar-a
{
	border: none;
	background: transparent;
	color: #333;
	font-weight: 700;
	text-shadow: 0 0 0 #000;/*	border-bottom: 8px solid #9d8e94;*/
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
		margin-bottom:20px;
}
.ui-controlgroup-controls label
{
	float: none !important;
	margin: 0px;
}
.ui-icon-checkbox-off, .ui-icon-radio-off { background-color: #f3d7e2 !important; }
.ui-radio .ui-icon, .ui-radio .ui-icon-searchfield:after
{
	background-image: url(../images/icons-18-white.png) !important;
	background-color: #f3d7e2 !important;
}
.btn-container { text-align: center; }
.ui-controlgroup-controls .ui-radio
{
	text-align: center;
	width: 100px;
	float: left;
	clear: none;
}



/* Tablet Layout: 426px to 600px. Inherits styles from: Mobile Layout. */

@media only screen and (max-width: 481px) {
#aboutform .ui-field-contain { text-align: left !important; }
#aboutform label { width: 300px; }
.ui-field-contain .ui-select
{
	width: 20% !important; /*78%;*/
	display: inline-block;
}
.head2
{
	width: 42%;
	float: left;
	text-align: center;
	padding: 2px;
}
.head1
{
	width: 47%;
	padding: 2px;
	text-align: left;
}
#header p
{
	padding-left: 0px;
	margin-top: 20px !important;
	font-size: 20px !important;
}
.optcontainer .ui-btn-inner
{
	padding-left: 3px !important;
	font-size: 14px;
	height: 9px !important;
	text-align: left;
}
.ui-select .ui-btn-text { /*	text-overflow: ellipsis;
	overflow: visible;
	white-space: nowrap;*/ }
.resulthead
{
	background-color: #0054a5;
	text-align: center;
	height: 190px;
	border-bottom: 1px solid #9bc5d0;
}
#resultval
{
	text-align: center;
	color: #FFFFFF;
	font-size: 19px;
	font-weight: normal;
	height: 70px;
	background-color: #eb008b;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 89px;
	border-bottom-right-radius: 89px;
	border: 4px solid #eb008b;
	width: 120px;
	margin: auto;
}
#aboutform label
{
	font-size: 17px;
	display: inline-block;
	text-align: left;
	color: #231f20;
	cursor: auto;
	margin-top: 4px;
}
}
.tablecontainer p
{
	font-size: 18px !important;
	margin-top: 0% !important;
	padding-top: 0px !important;
}
#slideinside #header p
{
	text-align: center;
	margin-top: 0px;
	font-size: 20px;
	margin-bottom: 0px;
	padding: 10px;
}
#slideinside #header.ui-header
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	font-weight: normal;
	display: block;
	height: auto;
	color: #accdec;
	font-size: 25px;
	padding-left: 0%;
	word-spacing: 1px;
	border: none;
	background: #0054a5;
	text-shadow: 0 0 0;
}
#slidecontainer p
{
	padding: 10px;
	color: #231f20;
	text-align: left;
}
#slidecontainer
{
	clear: both;
	margin: auto;
	width: 100%;
	display: block;
	text-align: center;
}
#slidecontainer ul { padding: 0 0 0 30px; }
#slidecontainer li
{
	margin-top: 0% !important;
	padding-top: 0px !important;
	text-align: left;
	padding: 3px;
}
#header p
{
	padding-left: 0px;
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
}
/* Tablet Layout: 426px to 600px. Inherits styles from: Mobile Layout. */

@media only screen and (min-device-width : 200px) and (max-device-width : 780px) {
.nextbutton, .prevbutton, .homebutton
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	clear: both;
	margin: 0 auto !important;
	color: #FFF !important;
	width: 100px !important;
	height: 30px !important;
	border: none;
	margin-left: 20px;
	position: relative;
	cursor: pointer;
	font-size: 18px;
	top: 5px;
}
.recall, .savenxt, .homebtn
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	color: #FFF !important;
	width: 100px;
	height: 50px;
	border: none;
	margin-left: 0px;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 20px;
}
.calcium_mid p.linetwo
{
	font-size: 19px;
	color: #FFFFFF;
	margin-top: 13px;
	font-family: HelveticaNeue;
	float: none;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}
p.mid_one
{
	font-size: 24px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
p.mid_two
{
	font-size: 19px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.logo_home
{
	background-image: url(../images/logo_small.png);
	background-repeat: no-repeat;
	height: 83px;
	background-position: center center;
}
.logo_result
{
	background-image: url(../images/logo_small.png);
	background-repeat: no-repeat;
	height: 83px;
	background-position: center center;
}
.result_mid .mid_one
{
	font-size: 19px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	/* width: 320px; */
	text-align: center;
	margin: auto;
}
#recomm
{
	clear: both;
	float: none;
	/* margin-left: 0; */
	display: block;
	padding: 8px 20px;
	text-align: center;
	font-size: 18px;
	margin-top: 0px;
	color: #eb008b;
}
#calrecomm
{
	clear: both;
	font-size: 19px;
	color: #FFFFFF;
	width: 110px;
	display: block;
	background-color: #eb008b;
	padding: 6px;
	text-align: center;
	margin-top: 5px;
	margin: 0px auto 15px auto !important;
}
#resultbtm p
{
	font-size: 17px;
	color: #0054a5;
	padding: 8px 10px;
	margin: 0px;
}
.calcium_head
{
	background-color: #0054a5;
	text-align: center;
	height: 140px;/* 210px;*/
	border-bottom: 1px solid #9bc5d0;
}
#enterbtn a { font-size: 20px; }
#aboutform .ui-field-contain { text-align: left !important; }
.optcontainer .ui-field-contain label.ui-select { width: 45% !important; }
.ui-field-contain .ui-select
{
	width: 23% !important; /*78%;*/
	display: inline-block;
	font-size: 14px;
}
#menu-main
{
	clear: both;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
}
.head2
{
	width: 42%;
	float: left;
	text-align: center;
	padding: 2px;
	padding-top: 8px !important;
}
.head1
{
	width: 47%;
	padding: 2px;
	padding-top: 8px !important;
	text-align: left;
}
.optcontainer .ui-btn-inner
{
	padding-left: 3px !important;
	font-size: 12px;
	height: 12px !important;
	text-align: left;
}
.resulthead
{
	background-color: #0054a5;
	text-align: center;
	height: 140px;
	border-bottom: 1px solid #9bc5d0;
}
.lineone img { margin-top: 10%; }
#resultval
{
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: normal;
	height: 44px;
	background-color: #eb008b;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 89px;
	border-bottom-right-radius: 89px;
	border: 4px solid #eb008b;
	width: 110px;
	margin: auto;
	padding-top: 10px;
}
#aboutform label
{
	font-size: 17px;
	display: inline-block;
	text-align: left;
	color: #231f20;
	cursor: auto;
	width: 180px;
	margin-top: 4px;
	margin-bottom: 6px;
}
}
@media screen and (max-device-width: 500px) {
.submit-btn
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	color: #FFF !important;
	width: 100px;
	height: 30px;
	border: none;
	float: left;
	cursor: pointer;
	font-size: 15px;
}
.clear-btn
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	color: #FFF !important;
	width: 100px !important;
	height: 30px;
	border: none;
	margin-left: 1px;
	cursor: pointer;
	font-size: 15px;
}
.head1 span, .head2 span
{
	margin-left: 6px;
	font-size: 15px;
}
.calcium_mid
{
	background-color: #eb008b;
	text-align: center;
	color: #ffffff;
	border-top: 1px solid #FFFFFF;
	height: 145px;
}
p.mid_one
{
	font-size: 24px;
	padding-bottom: 0px;
	margin-bottom: 3px;
}
p.mid_two
{
	font-size: 19px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
}
.tablecontainer { }
.nextbutton, .prevbutton, .homebutton
{
	background-color: #eb008b !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb008b), to(#eb008b)) !important;
	background-image: -webkit-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -moz-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -ms-linear-gradient(#eb008b, #eb008b) !important;
	background-image: -o-linear-gradient(#eb008b, #eb008b) !important;
	background-image: linear-gradient(#eb008b, #eb008b) !important;
	clear: both;
	margin: 0 auto !important;
	color: #FFF !important;
	width: 150px;
	height: 40px;
	border: none;
	margin-left: 20px;
	position: relative;
	cursor: pointer;
	font-size: 18px;
	top: 5px;
	margin-bottom: 20px !important;
}
 @media only screen and (max-width: 440px) {
#slideinside #header p
{
	text-align: left;
	margin-top: 0px;
	font-size: 20px;
	margin-bottom: 0px;
	padding: 10px;
}
}
.resultcom a
{
	color: #eb008b;
	text-decoration: none;
}
#slidecontainer h4 a
{
	color: #0054a5;
	text-decoration: none;
}
#slidecontainer h4
{
	text-align: left;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
}
.ui-field-contain .ui-controlgroup, .ui-field-contain fieldset.ui-controlgroup
{
	margin: 0;
	width: 55%;
}
