
<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	        xmlns:gap = "http://phonegap.com/ns/1.0"
	        id        = "com.CalciumTracker"
	        version   = "2.0.0">
 <name>CalciumTracker</name>
 <description>Test CalciumTracker</description>
 <author href="http://www.bioquestglobal.com/" email="ashok.gowda@bioquestglobal.com">BioQuest Solutions Pvt. Ltd.</author>
 <preference name="Orientation" value="landscape" />
 <content src="index.html" />
 <platform name="android">
              <icon src="images/icon.png" density="ldpi" />
              
     </platform>
</widget>
